:root {
    --main-color: #228B22;
    --color: #fff;
    --hover: #3CB371
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #d3d3d3;
}

header {
    color: var(--main-color);
    text-align: center;
    margin-top: 3rem;
}

button {
    background-color: var(--main-color);
    color: var(--color);
    margin: 1rem;
    padding: 0.8rem 2rem;
    font-size: 14px;
    border-radius: 25px;
    font-weight: 600;
    border: 1px solid var(--main-color);
    cursor: pointer;
    transition: 0.6s all ease
}

button:hover {
    background-color: var(--hover);
}

.addBook {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.addBtn:hover {
    border-radius: 25px;
}

.btnFilter {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.filterBtn {
    border-radius: 0;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.libraryContent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.modalContainer {
    display: none;
    /* position: fixed; */
    z-index: 4;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.modal {
    padding: 2rem 2rem;
    border-radius: 15px;
    background: var(--main-color);
    line-height: 3rem;
    position: relative;
    width: 50%;
    margin: 0 auto;
    margin-top: 5rem;
}

.modalContent {
    display: flex;
    flex-direction: column;
}

label {
    color: var(--color);
    margin-right: 1rem;
}

input {
    padding: 0.5rem;
    font-size: 14px;
}

.addCancel {
    display: flex;
    justify-content: center;
}

.add,
.cancel {
    background-color: var(--color);
    color: var(--main-color)
}

.errorModal {
    display: none;
    position: relative;
    margin: 0 auto;
    /* margin-top: 10rem; */
    width: 40%;
}

.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color);
    font-size: 20px;
    font-weight: bold;
    background: red;
    padding: 3rem 5rem;
    border-radius: 10px;
}

.error-btn {
    color: var(--olor);
    font-weight: bold;
}

.error-btn:hover {
    color: var(--color);
    background: red;
}

.libraryContent {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5rem;
}

.card {
    background-color: var(--main-color);
    color: var(--color);
    padding: 1rem;
    line-height: 2;
    font-size: 1.2rem;
    border-radius: 10px;
    margin-left: 20px;
    margin-bottom: 2rem;
    width: 30%;
    height: 30%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card:nth-child(n) {
    margin-right: 3rem;
    margin-top: 5rem;
}

.cardContent {
    color: #32CD32;
    font-weight: bold;
    font-size: 1.5rem;
}

.fa-times {
    color: red;
    margin-left: 10px;
}

.fa-check {
    color: var(--color);
    margin-left: 10px;
}

.delete {
    text-align: center;
    margin-top: 1rem;
}

.delete i {
    color: red;
}